<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- NFC permissions -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-feature android:name="android.hardware.nfc.hce" android:required="true" />

    <!-- Internet permission for Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Storage permissions for profile picture -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        
        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sign Up Activity -->
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        
        <!-- HCE Service -->
        <service android:name=".MyHostApduService" 
                 android:exported="true"
                 android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apdu_service" />
        </service>
        
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".NameHceActivity"
            android:exported="false"
            android:label="Send Name via NFC" />
            
        <activity
            android:name=".CheckInActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar"
            android:label="Check-In" />
            
        <activity
            android:name=".UsersActivity"
            android:exported="false"
            android:label="Database Users" />
            
        <activity
            android:name=".StoreCreditsCheckInActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <service
            android:name=".StoreCreditsHceService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/store_credits_apdu_service" />
        </service>

        <service
            android:name=".ProductPaymentHceService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/product_payment_apdu_service" />
        </service>

        <activity
            android:name=".StoreCreditsMainActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>

        <activity
            android:name=".StoreCreditsHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>

        <activity
            android:name=".CheckInHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>

        <activity
            android:name=".CatalogActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>

        <activity
            android:name=".EmailVerificationInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>

        <activity
            android:name=".ProductsActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>

        <activity
            android:name=".ProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>

        <activity
            android:name=".ProductPaymentActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>

    </application>

</manifest>